/**
 * Component:	Common
 * Description:	public class
 * Time: 2018-11-13
*/
@import "./variables";

.#{$prefix} {

  // flexbox布局
  &-flexbox {
    width: 100%;
    display: flex;
    align-items: center;

    &-center {
      justify-content: center;
    }

    &-vertical {
      flex-direction: column;
      height: 100%;

      .#{$prefix}-flexbox-item {
        width: 100%;
      }
    }

    &-item {
      flex: 1;

      &-start {
        align-self: flex-start;
        justify-self: flex-end;
      }

      &-center {
        align-self: center;
      }

      &-end {
        align-self: flex-end;
      }
    }
  }

  // spot
  &-remarks-spot {
    display: table;
    white-space: nowrap;
    height: auto;
    overflow: hidden;
    text-align: center;

    &::after,
    &::before {
      content: "•";
      color: #999;
      font-size: 30rpx;
      display: table-cell;
      position: relative;
      top: 50%;
      width: 50%;
      padding: 0 .15rem;
    }

    &::before {
      text-align: right;
    }

    &::after {
      text-align: left;
    }
  }

  // 文本超出省略
  &-ellipsis {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // 上拉加载文字状态描述
  &-load-type {
    white-space: nowrap;
    height: auto;
    line-height: 1;
    text-align: center;
    padding: 40rpx 0;
    color: #A6A6A6;
    font-size: 28rpx;
    background-color: #fff;
  }
  &-load {
    width: 80%;
    margin: 0 auto;
    display: table;
    white-space: nowrap;
    height: auto;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    padding: 40rpx 0;
    color: #A6A6A6;
    font-size: 28rpx;

    &::after,
    &::before {
      content: "";
      display: table-cell;
      position: relative;
      top: 50%;
      width: 50%;
      background-color: #999;
      transform: scaleY(0.03);
    }

    &-text {
      padding: 0 80rpx;
    }
  }

  // 底部边框线
  &-bottom-shadow-line {
    position: fixed;
    width: 750px;
    height: 3px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.15);
    left: 0;
    bottom: 0;
    z-index: 10;
  }

  // 过度效果
  .component-fade-enter-active,
  .component-fade-leave-active {
    transition: opacity .3s ease;
  }

  .component-fade-enter,
  .component-fade-leave-to
  /* .component-fade-leave-active for below version 2.1.8 */

    {
    opacity: 0;
  }

  page {
    width: 100%;
    height: 100%;
  }

  // 最大宽度
  &-max-width {
    width: 100%;
  }

}
