@mixin flex($type:'row', $content:center, $items:center) {
  display: flex;
  flex-direction: $type;
  justify-content: $content;
  align-items: $items;
}

@mixin bgCenter($size:contain, $pos:center) {
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $pos;
}

@mixin size($a:0) {
  width: $a;
  height: $a;
}

@mixin text($color:#000, $size:28, $lineheight:28, $textalign:left) {
  color: $color;
  font-size: $size*1px;
  line-height: $lineheight*1px;
  text-align: $textalign
}

@mixin bgi($name) {
  background-image:url('~src/assets/img/#{$name}');
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin img($width,
$height,
$name,
$type) {
  @include size($width,
  $height);
  @include bgi($name);
}

@mixin colomnEllipsis($colomn:2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $colomn;
  -webkit-box-orient: vertical;
}

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 一像素边框
// -----------------------------------------------------------------------------
@mixin top-line($color, $zindex: 1) {
  content: '';
  position: absolute;
  z-index: $zindex;
  top: -1px;
  left: 0;
  width: 100%;
  height: 4rpx;
  background-image: linear-gradient(0deg, $color 50%, transparent 50%);
}

@mixin bottom-line($color, $zindex: 1) {
  content: '';
  height: 40rpx;
  position: absolute;
  z-index: $zindex;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(0deg, $color 50%, transparent 50%);
}

@mixin left-line($color, $zindex: 1) {
  content: '';
  position: absolute;
  z-index: $zindex;
  top: 0;
  left: 0;
  width: 4rpx;
  height: 100%;
  background-image: linear-gradient(to left, $color 50%, transparent 50%);
}

@mixin right-line($color, $zindex: 1) {
  content: '';
  position: absolute;
  z-index: $zindex;
  top: 0;
  right: 0;
  width: 4rpx;
  height: 100%;
  background-image: linear-gradient(to right, $color 50%, transparent 50%);
}