.empty-wrap {
  width: 100%;
  padding-top: 240px;
  image {
    display: block;
    margin: 0 auto 40px;
    width: 36.5%;
  }
  .text {
    text-align: center;
    color: #A6A6A6;
    font-size: 36px;
  }
}
